$primary: #3684CC;
$secondary: #292D3E;
@import "bootstrap/scss/bootstrap";

body {
  background-color: #1A202C;
}

textarea::selection {
  background: #000;
}

.CodeMirror {
  height: 500px !important;
  border: 1px solid white !important;
  border-radius: 0.25rem !important;
  font-size: 13px;
}

.mirrorSelection {
  background-color: #000;
}
